.pagination {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}

.pagination li {
    margin: 5px;
}

.pagination button {
    background-color: #757d84;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #757d84;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination .prev-next-button {
    font-weight: bold;
}

.pagination button.active {
    background-color: #0056b3;
    /* Change to your preferred active color */
    color: #fff;
}